################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

build/
/Allocator/.vs/Allocator/v16
