################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/moja-benchmark/build/.vs/moja.benchmark/v16/Browse.VC.opendb
/build